body{
	background: url("/images/bg.jpg");
}

li{
	list-style-type: none;
}

/*home界面*/
.header {
	background: #080202;
	height: 50px;
	color: white;
	min-width: 1100px;
}

.logo {
	margin-left: 10px;
	margin-top: 8px;
	width: 151px;
	height: 36px;
	float: left;
	display: block;
}

.loginfont {
	float: right;
	color: #fff;
}

.loginNameArea{
	margin-top: 10px;
	margin-right: 25px;
}

#loginBody {
	text-align: center;
	margin-top: 100px;
}

.loginfont ul {
	margin-top: 11px;
	padding-right: 14px;
}

.loginfont ul li {
	float: left;
	line-height: 31px;
	font-size: 20px;
	margin-right: 10px;
}

#side {

	float: left;
	width: 170px;
	height: 100%;
	background: #bbf2bf;
	font-size: 18px;
	color: #000;
	margin-top: 3px;
}

#content {

	float: left;
	margin-left: 20px;
	margin-top: 3px;
	/*border:1px solid black;*/
	width: 80%;
	height: 100%;
}

/*切换动画设置*/
/* line 491, ../sass/ng-animation.scss */
.aaa.ng-enter {
	transform: translateY(-240px);
	-ms-transform: translateY(-240px);
	-webkit-transform: translateY(-240px);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 497, ../sass/ng-animation.scss */
.aaa.ng-enter-active {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	opacity: 1;
}

/* line 502, ../sass/ng-animation.scss */
.aaa.ng-leave {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 508, ../sass/ng-animation.scss */
.aaa.ng-leave-active {
	transform: translateY(-240px);
	-ms-transform: translateY(-240px);
	-webkit-transform: translateY(-240px);
	opacity: 0;
}

/*登陆表单配置*/
/*login form*/
.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: left;
	width: 500px;
	margin: 0 auto;
}

button.btn {
	height: 50px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #de615e;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	width: 100%;
}

button.btn:hover {
	opacity: 0.6;
	color: #fff;
}

button.btn:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
	width: 500px;
	margin: 0 auto;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 {
	margin-top: 0;
	color: #fff;
}

.form-top-left p {
	opacity: 0.8;
	color: #fff;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

button.btn:focus {
	outline: 0;
	opacity: 0.6;
	background: #de615e;
	color: #fff;
}

button.btn:active:focus, button.btn.active:focus {
	outline: 0;
	opacity: 0.6;
	background: #de615e;
	color: #fff;
}

input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
	height: 50px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #fff;
	border: 3px solid #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #888;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

textarea,
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
	outline: 0;
	background: #fff;
	border: 3px solid #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
	color: #888;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
	color: #888;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
	color: #888;
}

